<form [formGroup]='registerForm' (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-align">Sign up</h2>
    <br>
    <!-- <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["passwordConfirm"]' [label]='"ConfirmPassword"'></app-text-input> -->
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("username")?.errors && registerForm.get("username")?.touched'
        type="text" 
        class="form-control" 
        formControlName="username" 
        placeholder="username">

        <div class="invalid-feedback">Please Enter a username</div>
    </div>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("password")?.errors && registerForm.get("password")?.touched'
        type="password" 
        class="form-control" 
        formControlName="password" 
        placeholder="password">

        <div *ngIf='registerForm.get("password")?.hasError("required")' class="invalid-feedback">Please Enter a password</div>
        <div *ngIf='registerForm.get("password")?.hasError("minlength")' class="invalid-feedback">Please Enter a password min length 4</div>
        <div *ngIf='registerForm.get("password")?.hasError("maxlength")' class="invalid-feedback">Please Enter a password max length 8</div>
    </div>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("confirmPassword")?.errors && registerForm.get("confirmPassword")?.touched'
        type="password" 
        class="form-control" 
        formControlName="confirmPassword"
        placeholder="confirmPassword">

        <div *ngIf='registerForm.get("confirmPassword")?.hasError("required")' class="invalid-feedback">Please Enter a confirm password</div>
        <div *ngIf='registerForm.get("confirmPassword")?.hasError("isMatching")' class="invalid-feedback">Please Enter a confirm password fits password</div>

    </div>
    <!-- <div class="form-group">
        <label>who is your favourite user</label>
        <select class="form-control">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div> -->
    <div class="form-group-text-center">
        <button class="btn btn-primary mt-2" type="submit">Register</button>
        <button class="btn btn-danger  mt-2 mx-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>


{{registerForm.status}}